<% include header %>
	<form action="/login" method="post">
		Username:<input type="text" name="username"></input>
		Password:<input type="password" name="password"></input>
		<input type="submit" name=""></input>
	</form>

<% include footer %>